.dropdownMenu {
  transform-origin: top;
  animation: dropdownOpen 0.2s ease-in-out forwards;
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
    transform: scaleY(0.8);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}
