@use "../../styles/variables" as *;
@use "sass:color";

$projectTitleFontSize: 22px;
.projectCard {
  position: relative;
  border-radius: $input-radius;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  a {
    color: inherit;
    font-weight: inherit;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-drag: none;
  }

  .projectInfo {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    transform: translateY(calc(100% - $projectTitleFontSize - 30px));
    transition: transform 0.3s ease;

    * {
      position: relative;
      z-index: 3;
    }

    h3 {
      font-size: $projectTitleFontSize;
      margin-bottom: 5px;
      opacity: 1;
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

    p {
      opacity: 0;
      padding-right: 10px;
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

    &::before {
      content: "";
      position: absolute;
      inset: -10px;
      top: -5px;
      background-color: rgba($primary-color, 0.4);
      backdrop-filter: blur(10px);
      transform: rotate(-2deg);
      transition: background-color 0.3s ease;
    }
  }

  &:hover {
    transform: scale(1.02);

    a {
      color: inherit;
    }

    .projectInfo {
      transform: translateY(0);

      p {
        opacity: 1;
      }

      &::before {
        background-color: rgba($primary-color, 1);
      }
    }
  }
}
