@use "../../styles/variables" as *;
@use "sass:color";

$cardTransiton: 0.4s;

.techCard {
  position: relative;
  background-color: #f9f9f9;
  border-radius: $input-radius;
  text-align: left;
  width: 280px;
  height: 280px;
  overflow: hidden;
  filter: drop-shadow(0 2px 8px rgba(13, 2, 73, 0.1));
  cursor: pointer;

  h3 {
    position: relative;
    font-weight: bolder;
    font-size: 1.25rem;
    user-select: none;
    z-index: 1;
  }
  p {
    position: relative;
    font-size: 0.9rem;
    z-index: 1;
  }

  img {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0.5;
    transition: opacity $cardTransiton ease-in-out,
      transform $cardTransiton ease-in-out;
  }

  .cardContent {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(0.8);
    padding: 15px;
    box-shadow: transparent;
    opacity: 0;
    transition: opacity $cardTransiton ease-in-out,
      transform $cardTransiton ease-in-out,
      box-shadow $cardTransiton ease-in-out;
  }

  &:hover {
    img {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.6);
    }

    .cardContent {
      transform: scale(1);
      box-shadow: 0 4px 64px rgba(2, 14, 70, 0.1);
      opacity: 1;
    }
  }
}
